.container {
  font-family: 'Lato', sans-serif;
  display: flex;
  margin: 0 80px;
  /* gap: 40px; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.container p {
  background-color: #FFF8F7;
}

.image {
  height: 296px;
  width: 296px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.name {
  padding-top: 16px;
  font-size: 18px;
}

.price {
  padding: 10px 0 12px 0;
  text-transform: capitalize;
}

@media screen and (width > 1440px) {
  .container {
    gap: 80px;
  }
}